# Dependencies
node_modules/
.pnpm-debug.log*

# Next.js
.next/
out/

# Production
build/
dist/

# Env
.env
.env.local
.env.*.local

# Debug
npm-debug.log*

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Vercel
.vercel

app-features.md
